.continueBTN{
    width: 25%;

}
.backBTN{
    width: 25%;
}

/*screen size styling*/

@media screen and (max-width: 600px) {
    .continueBTN{
        width: 100%;

    }
    .backBTN{
        width: 50%;

    }
}